.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  padding: 15px; }
  .header img {
    width: 75px;
    margin: 10px; }
  .header ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-evenly;
    font-family: sans-serif;
    margin: 10px; }
    .header ul li {
      margin: 0; }
  .header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }

footer {
  background-color: #000;
  color: #fff;
  padding: 25px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  footer .social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
    footer .social-links a {
      margin: 0 10px; }
      footer .social-links a img {
        width: 25px;
        height: auto; }

.form-container {
  display: flex;
  grid-template-columns: 1.7fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact img";
  flex-wrap: wrap; }
  .form-container .contact {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: 100%;
    font-weight: bold; }
  .form-container form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    text-align: left; }
    .form-container form label {
      margin-bottom: 10px;
      font-family: sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      padding: 10px; }
    .form-container form input,
    .form-container form textarea {
      margin-bottom: 0px;
      font-family: sans-serif;
      font-size: 14px; }
  .form-container .image-container img {
    width: 400px; }

.carousel-item img {
  max-height: auto;
  width: auto;
  max-width: 50%;
  margin-left: 400px;
  object-fit: fill; }

.img {
  object-fit: cover;
  align-content: center;
  margin-left: 45px;
  width: 30px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.7);
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease; }
  .image:hover .overlay {
    opacity: 1; }

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px; }

.sobremidatos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  width: auto;
  align-content: center;
  flex-wrap: wrap;
  grid-template-areas: "Info-izquierda Profile-pic" "Messi-pic Info-derecha"; }

.Info-izquierda,
.Info-derecha {
  width: auto;
  height: fit-content;
  font-size: 22px;
  font-family: monospace; }
  .Info-izquierda.Info-derecha,
  .Info-derecha.Info-derecha {
    margin-left: 0px; }
  .Info-izquierda.Info-izquierda,
  .Info-derecha.Info-izquierda {
    margin-left: 0px; }
  .Info-izquierda ul,
  .Info-derecha ul {
    list-style: none;
    padding: 10px;
    margin: 60px;
    text-align: justify; }

.titulo {
  text-decoration: double; }

.Profile-pic img {
  width: 60%;
  height: auto;
  object-fit: fill;
  margin-left: 250px;
  padding-top: 20; }

.Messi-pic img {
  width: 70%;
  height: auto;
  object-fit: fill;
  margin-left: 70px; }

iframe.spotify {
  display: block;
  padding-bottom: 20px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.image-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 50px; }
  .image-row img {
    width: 120px;
    height: auto;
    margin-right: 100px; }

.image {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px;
  overflow: hidden; }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;
  font-family: sans-serif;
  max-width: 700px; }

.container h2 {
  margin: 5px;
  text-align: center;
  font-size: 32px; }

.container p {
  margin: 5px;
  text-align: center;
  width: 90%; }

.div2 img {
  height: 750px;
  width: 750px;
  object-fit: contain;
  margin-left: 50px; }

.intro-title {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px; }

.intro-text {
  font-family: sans-serif;
  font-size: 18px;
  max-width: auto; }

.flex-padre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.flex-padre .container .div2 {
  padding: 70px; }

body {
  margin: 0;
  padding: 0; }

@media (max-width: 600px) {
  .image-row {
    justify-content: center;
    margin-left: 70px; }
  .image {
    width: 80px;
    height: 80px; } }
